*{
	font-family: 'Montserrat', sans-serif;
}

.nav-link{
	font-size: 18px;
	font-weight: 400;
}

.dropdown-menu{
	border-radius: 0;
}

.btn{
	font-size: 18px;
	font-weight: 400;
	width: auto;
	background-color: #797051;
	border-radius: 0;
	border-color: transparent;
	margin-left: 25px;
}

.btn:link{
	background-color: #A39872;
}

.btn:visited{
	background-color: red;
}

.btn:hover{
	background-color: #504C3E;
	border-color: transparent;
}

#row-p1>*{
	padding-left: 0;
}

.col-5{
	color: #57523E;
	padding-right: 0;
	padding-left: 80px;
	text-align: right;
}

.col-5>p{
	text-align: right;
}

.caption-main{
	font-size: 50px;
	font-weight: 500;
	line-height: 1.25;
	margin-top: 350px;
}

.caption-italic{
	font-size: 20px;
	font-style: italic;
	padding-top: 25px;
	padding-bottom: 25px;
}

#livingroom{
	height: 700px;
	margin-top: 70px;
}

#container-bawahh{
	padding: 0;
	background-color: #FFEFDC;
}

#span-header{
	padding-top: 20px;
	text-align: center;
	color: #57523E;
	font-weight: 500;
	font-size: 50px;
}